// 白色和黑色

$w-page-bg-color: rgb(250, 250, 250);
$w-bg-color: rgb(255, 255, 255);
$w-bg-color-reverse: black;
$w-font-color: black;
$w-font-color-light: rgb(124, 124, 124);
$w-font-color-reverse: rgb(255, 255, 255);
$w-border-color: rgb(244, 244, 244);
$w-bg-color-t: rgba(0, 0, 0, 0.6);

$b-page-bg-color: rgb(28, 28, 28);
$b-bg-color: rgb(15, 15, 15);
$b-bg-color-reverse: white;
$b-font-color: rgb(240, 240, 240);
$b-font-color-light: rgb(175, 175, 175);
$b-font-color-reverse: rgb(0, 0, 0);
$b-border-color: rgb(35, 35, 35);
$b-bg-color-t: rgba(255, 255, 255, 0.6);

$theme-color: rgb(233, 94, 94);
$theme-color-light: rgba(232, 108, 108, 0.3);
$theme-color-deep: rgb(233, 60, 60);
$theme-color-tag-light: rgba(233, 94, 94, 0.25);
$theme-color-tag: rgba(216, 29, 29, 0.5);
